@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Sedgwick+Ave+Display&display=swap');
/*https://coolors.co/ffba49-20a39e-ef5b5b-23001e-a4a9ad (color palette)*/


h1,
h2,
h3 {
    font-family: "Sedgwick Ave Display";
    text-align: center;
    background-color: #23001E;
    color: white;

}

p,
a {
    font-family: "Jersey 25";
    font-size: larger;
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
}

header {
    text-align: center;
    background-color: #20A39E;
    color: white;
    padding: 10px;
}

nav a {
    font-size: 25px;
    color: white;
}

a:hover {
    font-weight: 600;
    font-stretch: expanded;
    color: black;
}

body {
    background-color: #FFBA49;

}

.main_section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.card {
    grid-column: 1/5;
    grid-row: 1/7;
    outline: 2px solid black;
}

.about_me_pic {
    max-height: 15em;
    grid-column: 4/5;
    align-content: right;
    padding-right: 20px;
}

.card2 {
    grid-row: 1/7;
    grid-column: 5/7;
    margin-left: 50px;
    justify-content: center;
    text-align: center;
    outline: 2px solid black;

}

.about_me {
    grid-column: 1/4;
    font-size: x-large;
    align-content: center;
    padding: 15px;
}

.me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#about_me {

    grid-column: 1/5;
}